<h1>Conquistas do Jogo {{ jogo.titulo }}</h1>

<a href="/jogos/{{jogo.id}}/novaConquista">Cadastrar nova conquista</a>

<table border="1">
    <!-- table row -->
    <tr>
        <!-- table head --> 
        <th>Título</th>
        <th>Descrição</th>
        <th>Pontos</th>
    </tr>
    {{#each conquistas}}
      <tr>
        <td>{{this.titulo}}</td>
        <td>{{this.descricao}}</td>
        <td>{{this.pontos}}</td>
      </tr>
    {{/each}}
</table>